
$colors: (
    
    main_bg: hsl(217, 54%, 11%),
    card_bg:  hsl(216, 50%, 16%),
    line-clr: hsl(215, 32%, 27%),
    soft-blue: hsl(215, 51%, 70%),
    cyan: hsl(178, 100%, 50%),
);

$f-size-p: 18px;
$f-size-creator: 14px;